.head-top h1{
        width           : 100%;
        margin          : 0;
        background-color: rgb(75, 73, 73);
        font-size       : 24px;
        color           : #fff;
        height          : 100px;
        line-height     : 100px;
        padding-left    : 20px
} 
.education_experience,
.capability_description,
.essential_information {
    width           : 20%;
    height          : 100px;
    line-height     : 100px;
    background-color: #ddd;
    margin          : 0;
    text-align      : center;
    font-size       : 21px;
}
.education_experience_wrap,
.capability_description_wrap,
.essential_information_wrap {
    border-bottom: 1px solid rgb(58, 58, 58);
}
.essential_information_wrap p {
    margin     : 0;
    height     : 100px;
    line-height: 100px;
    
}
.fl h3 {
    margin: 0;
}
.right_commt {
    padding-left: 30px;
}
.fr {float: right;}
.fl{float: left;}
.clearfix:after {
    clear     : both;
    content   : ".";
    display   : block;
    height    : 0;
    visibility: hidden;
  }
  
  .clearfix {
    *zoom: 1;
  }
  